.home{
  display: grid;
  grid-template-rows:auto;
  grid-gap: 10px;
  margin: 20px;
  float: right;
}
.img{
  height: 100px;
  width: auto;
}

.cards{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
  margin: 20px;
}
.sidebar{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}

